html {
	width: 1430px;
}

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: auto;
	word-wrap: break-word;
	font-family: "Malgun Gothic", "굴림", "Gulim", "Arial", sans-serif;;
	font-size: 13px;
	font-weight: bold;
}

table {
	border-collapse: collapse;
}

#main_header {
	width: 980px;
	height: 180px;
	margin: 0 auto;
	position: relative;
	padding: 0 0 7px 0;
	background-color: #E5F9E6;
}

#main_footer {
	margin: 0 auto;
	padding-top: 5px;
	width: 980px;
	height: 107px;
	clear: both;
	position: relative;
	z-index: 40;
	background-color: #E5F9E6;
}

#content {
	position: relative;
	width: 980px;
	height: 540px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0 0 39px 0;
	background-color: #ffffff;
	border-bottom: 1px solid #ffffff;
}

#content>#left_section {
	float: left;
	width: 490px;
	height: 540px;
	overflow: hidden;
}

#content>#right_section {
	width: 490px;
	height: 540px;
	overflow: hidden;
}

#content>#left_section>.creditArea {
	height: 70px;
	overflow: hidden;
	padding-top: 5px;
	line-height: 2.6;
}

#content>#left_section>.creditArea>.reset_bt {
	width: 55px;
	height: 25px;
	border: solid 0px #FFFFFF;
	background-image: url(/resources/img/reset_bt.png);
}

#content>#left_section>.creditArea>.saveexel_bt {
	width: 85px;
	height: 25px;
	border: solid 0px #FFFFFF;
	background-image: url(/resources/img/saveexel_bt.png);
}

#content>#left_section>.timeTableArea {
	width: 458px;
	height: 465px;
	overflow: hidden;
	background-color: #565757;
	position: absolute; 
}

#content>#left_section>.timeTableArea>.LeftTableFrame {
	width: 74px;
	height: 462px;
	float: left;
	margin: 0 0 3px 3px;
	background-color: #565757;
}

#content>#left_section>.timeTableArea>.LeftTableFrame>.timeBoardTable {
	width: 74px;
	table-layout: fixed;
	border-collapse: collapse;
	position: absolute;
	font-size: 9px;
	text-align: right;
	font-weight: normal;
}

#content>#left_section>.timeTableArea>.LeftTableFrame>.timeBoardTable th
	{
	height: 27px;
	border-top: 1px none #FFFFFF;
	border-bottom: 1px solid #6E6F6F;
}

#content>#left_section>.timeTableArea>.LeftTableFrame>.timeBoardTable td
	{
	height: 24px;
	border: 1px solid #6E6F6F;
	background-color: #F6F6F6;
}

#content>#left_section>.timeTableArea>.LeftTableFrame>.timeBoardTable td>.daytimeMark
	{
	width: 16px;
	height: 16px;
	float: left;
	background-color: #73BDE8;
	color: white;
	font-size: 11px;
	text-align: center;
}

#content>#left_section>.timeTableArea>.RightTableFrame {
	width: 375px;
	height: 465px;
	overflow: hidden;
	float: right;
	margin: 0 3px 3px 0;
}

#content>#left_section>.timeTableArea>.RightTableFrame>.myTable {
	width: 375px;
	table-layout: fixed;
	border-collapse: collapse;
	position: absolute;
}

#content>#left_section>.timeTableArea>.RightTableFrame>.myTable th {
	height: 27px;
	border-top: 1px none #FFFFFF;
	border-bottom: 1px solid #6E6F6F;
	color: #ffffff;
	font-size: 12px;
}

#content>#left_section>.timeTableArea>.RightTableFrame>.myTable td {
	height: 24px;
	border: 1px solid #6E6F6F;
	background-color: #FFFFFF;
}

#content>#right_section>.searchArea {
	height: 165px;
	overflow: hidden;
	padding-top: 5px;
	line-height: 2.5;
}

#content>#right_section>.searchArea input[type=checkbox].css-checkbox {
	display: none;
}

#content>#right_section>.searchArea input[type=checkbox].css-checkbox+label.css-label
	{
	padding-left: 20px;
	margin-bottom: 3px;
	margin-right: 8px;
	height: 14px;
	display: inline-block;
	line-height: 14px;
	background-repeat: no-repeat;
	background-position: 0 0;
	font-size: 13px;
	vertical-align: middle;
	cursor: pointer;
	height: 14px;
	font-weight: normal;
}

#content>#right_section>.searchArea input[type=checkbox].css-checkbox:checked+label.css-label
	{
	background-position: 0 -14px;
}

#content>#right_section>.searchArea label.css-label {
	background-image: url(/resources/img/checkboxdesign.png);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#content>#right_section>.searchArea>.line {
	height: 3px;
	margin-top: 6px;
	background-color: #F1F0E4;
}

#content>#right_section>.searchArea>.bookbark_button {
	width: 85px;
	height: 25px;
	border: solid 0px #FFFFFF;
	background-image: url(/resources/img/bookmark_bt.png);
}

#content>#right_section>.subjectResultArea {
	height: 370px;
	overflow: hidden;
	background-color: #EAECEC;
}

#content>#right_section>.subjectResultArea>.title1 {
	width: 160px;
	height: 17px;
	background-color: #565757;
	font-size: 11px;
	font-weight: bold;
	color: white;
	float: left;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 3px;
}

.subjectResultArea thead tr {
	height: 25px;
	background-color: #565757;
	font-size: 11px;
	font-weight: bold;
	color: white;
	word-spacing: 10px;
	padding-top: 5px;
	padding-bottom: 3px;
	text-align: center;
}

.subjectResultArea tbody tr {
	height: 25px;
	font-size: 12px;
	font-weight: bold;
	word-spacing: 10px;
	padding-top: 5px;
	padding-bottom: 3px;
	text-align: center;
	border-bottom: 1px solid white;
}

#content>#right_section>.subjectResultArea>.listArea {
	width: 490px;
	height: 358px;
	margin-top: 29px;
	overflow: auto;
	background-color: #EAECEC;
}

.list {
	background-color: #FFFFFF;
	width: 482px;
	height: 53px;
	border-bottom: 4px solid #EAECEC;
	border-left: 4px solid #EAECEC;
	border-right: 4px solid #EAECEC;
	line-height: 53px;
}

#lineEvaluationArea {
	width: 350px;
	height: auto;
	background: #FAF6FB;
	display: none;
	position: absolute;
	z-index: 999;
	border: 1px solid #EAE9EA;
}

.lineEvaluationLeftArea {
	width: 130px;
	float: left;
	margin: 8px;
	margin-left: 10px;
	font-size: 12px;
	font-weight: bold;
}

.lineEvaluationLeftArea>#main_star_area>span>div {
	width: 17px;
}

.lineEvaluationRightArea {
	float: right;
	margin: 8px;
	margin-right: 15px;
	font-size: 11px;
	font-weight: bold;
}

#lineEvaluationTable {
	width: 340px;
	height: 150px;
	background: #FFFEFF;
	position: relative;
	margin: 5px;
	font-size: 12px;
}

#lineEvaluationTable thead {
	border-bottom: 5px solid #FAF6FB;
	padding: 5px;
}

/*
#lineEvaluationTable tbody tr td {
	max-height: 10px;
	color: blue;
}

#lineEvaluationTable tbody  #other_evaluation td {
	color: red;
}
*/
#evaluationForm {
	margin: 5px;
	font-size: 11px;
}

#evaluationForm input {
	width: 200px;
	height: 13px;
	margin-right: 5px;
	font-size: 11px;
	float: right;
}

.LineEvaluationAreaDetail{
	width: 400px;
	height: 500px;
	background-color: blue;
	position:absolute;
	display: none;	

}

#closeLineEvaluationAreaDetail{
	float: right;
	margin-top: 5px;
	margin-right: 10px;
}