<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="timetable">

	<resultMap id="lineEvaluationModelResult" type="lineEvaluationModel">
		<result column="code" property="subjectCode"/>
		<result column="title" property="subjectName"/>
		<result column="professor" property="professorName"/>
		<result column="avgStarScore" property="avgStarScore"/>
		<collection column="code" property="itemList" select="selectLineEvaluationItem"/>
	</resultMap>
	
	<resultMap id="lineEvaluationItemResult" type="lineEvaluationItem">
		<result column="le_no" property="indexNo"/>
		<result column="user_id" property="userId"/>
		<result column="comment" property="comment"/>
		<result column="star_score" property="starScore"/>
		<result column="insertdate" property="date"/>
	</resultMap>

    <select id="selectPersonalData" resultType="personalModel" parameterType="personalCommandModel">
        SELECT idx_no as indexNo, member_srl as memberCode, semester as semester, tt_no as timetableNo,
        subject_list as subjectStr, insertdate as insertDate, updatedate as updateDate
        FROM tt_personal
        WHERE member_srl = #{memberCode} and tt_no = #{timetableNo}
    </select>
    
    <select id="selectLineEvaluation" resultMap="lineEvaluationModelResult" parameterType="String">
    	SELECT
    		code,
    		title,
    		professor,
    		(
    			SELECT ROUND(AVG(star_score),2)
    			FROM tt_line_evaulation
    			WHERE subject_code = #{subjectCode}
    		) as avgStarScore
    	FROM 
    		tt_subject
    	WHERE
    		code = #{subjectCode}
    </select>
    
    <select id="selectLineEvaluationItem" resultMap="lineEvaluationItemResult" parameterType="String">
    	SELECT
    		le.le_no,
    		m.user_id,
    		le.comment,
    		le.star_score,
    		le.insertdate 
    	FROM 
    		tt_line_evaulation le, xe_member m
    	WHERE
    		le.member_srl = m.member_srl 
    	AND
    		le.subject_code = #{subjectCode} 
    	ORDER BY
    	    le.insertdate DESC
    </select>
    
    <select id="selectMember" resultType="int" parameterType="int">
        SELECT count(*)
        FROM xe_member
    </select>
    
    <select id="searchSubject" resultType="subjectResultModel" parameterType="subjectCommandModel">
        SELECT
            code AS subjectCode,
			title AS subjectName,
			section AS subjectDivide,
			major AS subjectDept,
			classyear AS grade,
			credit AS credit,
			professor AS professorName,
			classhour AS classTime,
			classroom AS classroom
        FROM 
            tt_subject
        WHERE
            1 = 1
      <if test="searchType == null and searchKey != ''">
	      <if test="searchType == 'subject'">
	        AND title LIKE '%' || #{searchKey} || '%'
	      </if>
	      <if test="searchType == 'professor'">
	        AND professor LIKE '%' || #{searchKey} || '%'
	      </if>
      </if>
      <if test="department != null and department != '전체'">
            AND major = #{department}
          <if test="section != null and section != '선택'">
               AND section = #{section}
          </if>
          <if test="day != null and day != '선택'">
               AND classhour like '%' || #{day} || '%'
          </if>
          <trim prefix="AND classyear IN (" suffixOverrides="," suffix=")">
	          <if test="year1" >1,</if>
	          <if test="year2" >2,</if>
	          <if test="year3" >3,</if>
	          <if test="year4" >4,</if>
          </trim>
      </if>
      
    </select>
    
    <select id="selectDepartment" resultType="String">
        SELECT
            major As subjectDept
        FROM
            tt_subject
        GROUP BY major
    </select>
    
    <select id="searchSubjectByDepartment" resultType="subjectResultModel" parameterType="subjectCommandModel">
        SELECT
            code AS subjectCode,
            title AS subjectName,
            section AS subjectDivide,
            major AS subjectDept,
            classyear AS grade,
            credit AS credit,
            professor AS professorName,
            classhour AS classTime,
            classroom AS classroom
        FROM 
            tt_subject
        WHERE
            1 = 1
    </select>
    
    <insert id="insertLineEvaluationItem" parameterType="LineEvaluationItem">
		<selectKey resultType="Integer" keyProperty="indexNo" order="BEFORE">
			SELECT MAX(le_no)+1 FROM tt_line_evaulation
		</selectKey>
		INSERT INTO tt_line_evaulation( le_no, subject_code, member_srl,comment, star_score, insertdate)
		VALUES (#{indexNo}, #{subjectCode}, 3894, #{comment}, #{starScore}, #{date} );
	</insert>
	
	<delete id="deleteLineEvaluationItem" parameterType="Integer">
		delete from tt_line_evaulation where le_no=#{indexNo}
	</delete>
	
</mapper>